:root {
  --primary-color: #dbbb1a;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppin", sans-serif;
  --secondary-color: #fafaf5;
}

body {
  font-family: var(--default-font-family);
}
h1 {
  font-size: 40px !important;
}

h2 {
  font-size: 25px !important;
  font-weight: 700 !important;
}

.hero {
  text-align: center;
  padding: 160px 20px;
  font-family: var(--default-font-family);
}

.hero h1 {
  font-size: 70px !important;
  font-family: var(--heading-font-family);
}

.copy-text {
  font-family: "Passion One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.coloured-text {
  color: var(--primary-color);
}

.special-test {
  font-family: var(--heading-font-family);
}

.special-button {
  background-color: var(--primary-color);
  padding: 18px 30px;
  border-radius: 8px;
  color: white;
  font-family: var(--default-font-family);
  font-weight: bolder;
  text-align: center;
}

.special-button:hover {
  background-color: whitesmoke;
  border: 2px solid var(--primary-color);
  color: #426b1f;
}

.project-section {
  background-color: var(--secondary-color);
  margin: 0;
  padding: 100px;
}

.project-box {
  padding: 50px;
  /*box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);*/
  border-radius: 24px;
}

.taco {
  background: linear-gradient(
      0deg,
      rgba(217, 217, 217, 0.3),
      rgba(217, 217, 217, 0.3)
    ),
    url(taco.png) 50% 50%;
  background-size: cover;
}

.clock {
  background: linear-gradient(
      0deg,
      rgba(217, 217, 217, 0.3),
      rgba(217, 217, 217, 0.3)
    ),
    url(clock.png) 50% 50%;
  background-size: cover;
}

.poem {
  background: linear-gradient(
      0deg,
      rgba(252, 219, 6, 0.3),
      rgba(252, 219, 6, 0.3)
    ),
    url(poem.png) 50% 50%;

  background-size: cover;
}

.light-box {
  background-color: #fafaf5;
  padding: 20px 35px 35px !important;
  border-radius: 24px;
}
@media (max-width: 768px) {
  .project-section {
    text-align: center !important;
  }

  .hero h1 {
    font-size: 50px !important;
  }
  .light-box {
    background-color: #fafaf5ea;
    padding: 20px 10px 30px;
  }
}
