:root {
  --primary-color: #dbbb1a;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppin", sans-serif;
  --secondary-color: #fafaf5;
}

body {
  font-family: var(--default-font-family);
}
h1 {
  font-size: 40px !important;
}

h2 {
  font-size: 25px !important;
  font-weight: 700 !important;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 35px;
  margin-left: 10px;
  font-size: 14px;
}

nav li .active {
  font-weight: bolder;
  font-style: italic;
}

nav ul {
  padding: 0 !important;
}

nav a {
  text-decoration: none;
  color: black;
  transition: all 150ms ease-in-out;
}

nav a:hover {
  color: white;
  text-decoration: underline;
}

nav .special-test {
  font-weight: bolder;
  color: white;
  font-size: 20px;
}
.hero {
  text-align: center;
  padding: 160px 20px;
  font-family: var(--default-font-family);
}

.nav-bg {
  margin: 0 auto !important;
  background-color: var(--primary-color);
  padding: 15px 15px 0;
}
.nav-bg container {
  max-width: 600px;
}

.logo-small {
  display: none;
}
.hero h1 {
  font-size: 70px !important;
  font-family: var(--heading-font-family);
}

.copy-text {
  font-family: "Passion One", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: white;
  background-color: var(--primary-color);
}

.coloured-text {
  color: var(--primary-color);
}

.special-test {
  font-family: var(--heading-font-family);
}

.special-button {
  background-color: var(--primary-color);
  padding: 15px 20px;
  border-radius: 8px;
  color: white;
  font-family: var(--default-font-family);
  font-weight: bolder;
  text-align: center;
}

.special-button:hover {
  background-color: var(--secondary-color);
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
  transition: all 150ms ease-in-out;
}

.project-section {
  background-color: var(--secondary-color);
  padding: 80px;
}

.project-section .special-button {
  padding: 10px;
}

.project-box {
  padding: 50px;

  border-radius: 12px;
}

.light-box {
  background-color: #fafaf5;
  padding: 20px 35px 35px !important;
  border-radius: 12px;
}

.taco {
  background: linear-gradient(
      0deg,
      rgba(217, 217, 217, 0.3),
      rgba(217, 217, 217, 0.3)
    ),
    url(taco.jpg) 50% 50%;
  background-size: cover;
}

.clock {
  background: linear-gradient(
      0deg,
      rgba(217, 217, 217, 0.3),
      rgba(217, 217, 217, 0.3)
    ),
    url(clock.jpg) 50% 50%;
  background-size: cover;
}

.poem {
  background: linear-gradient(
      0deg,
      rgba(217, 217, 217, 0.3),
      rgba(217, 217, 217, 0.3)
    ),
    url(poem.jpg) 50% 50%;

  background-size: cover;
}

/* about page */
.top-bar {
  padding: 100px 25px;
}

.section-title {
  font-family: var(--heading-font-family);
}
.about-box h3 {
  font-size: medium;
  font-weight: bolder;
}

.about-buttons {
  margin-top: 30px;
}

/* contact page */

.contact-page {
  padding: 0 50px;
}

.contact-page h3 {
  font-size: 20px !important;
  font-weight: bold;
}
.contact-box {
  background-color: var(--primary-color);
  padding: 20px !important;
}

/* project page */
.project-page {
  padding: 0 30px;
}
.project-box-page {
  background-color: var(--secondary-color);
  border-radius: 24px;
  border: 10px solid white;
  padding: 0 !important;
}
.project-pic {
  border-radius: 24px 24px 0 0;
  max-width: 100px !important;
}
.project-description {
  padding: 25px;
}

.project-box-page h3 {
  font-weight: bold;
  padding: 0 !important;
  font-size: 18px;
}
.project-box-page p {
  color: grey;
}
.project-box-page a {
  font-family: var(--heading-font-family);
  color: var(--primary-color);
  font-weight: bold;
}

@media (max-width: 768px) {
  p {
    font-size: 15px !important;
  }

  /* homepage */
  .hero {
    padding: 120px 20px 80px !important;
  }

  .project-section {
    text-align: center !important;
    padding: 20px;
  }

  .hero h1 {
    font-size: 50px !important;
  }

  .light-box {
    background-color: #fafaf5ea;
    padding: 20px 10px 30px;
  }

  .project-section special-button {
    padding: 30px 15px;
    font-weight: lighter !important;
  }

  .contact-page {
    padding: 0 80px !important;
  }

  /* project page */
  .project-box-page {
    margin-bottom: 15px;
  }
}

@media (max-width: 576px) {
  nav {
    display: block !important;
    margin: 0 auto;
  }

  .hero h2 {
    font-size: 18px !important;
  }

  .hero {
    padding: 160px 20px 100px !important;
  }

  .logo-big {
    display: none;
  }
  .logo-small {
    display: block;
  }
  .about-box h3 {
    font-size: 20px;
    margin-bottom: 15px;
  }

  .top-bar {
    padding: 90px 25px 20px;
  }

  .contact-page {
    text-align: center !important;
    padding: 10px 20px;
  }
}
